.para1{font-size: 0; text-align:center; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style2{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 25px; 
 font-weight:normal; 
 color: #797979;
 word-wrap: break-word;}
.para3{font-size: 0; text-align:center; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style4{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:normal; 
 color: #797979;
 word-wrap: break-word;}
.Style5{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 39px; 
 font-weight:normal; 
 color: #FFFEFE;
 word-wrap: break-word;}
.Style6{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 22px; 
 font-weight:normal; 
 color: #FFFEFE;
 word-wrap: break-word;}
.Style7{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 17px; 
 font-weight:normal; 
 color: #5E5E5E;
 word-wrap: break-word;}
.para8{font-size: 0; text-align:center; padding-bottom:10px; margin-top:0px; padding-top:0px;}
.Style9{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:normal; 
 color: #797979;
 word-wrap: break-word;}
.Style10{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 17px; 
 font-weight:normal; 
 color: #FFFEFE;
 word-wrap: break-word;}
.para11{font-size: 0; text-align:left; padding-bottom:11px; margin-top:0px; padding-top:0px;}
.Style12{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 20px; 
 font-weight:normal; 
 color: #FFFEFE;
 word-wrap: break-word;}
.para13{font-size: 0; text-align:left; padding-bottom:1px; margin-top:0px; padding-top:0px;}
.Style14{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:normal; 
 color: #FFFEFE;
 word-wrap: break-word;}
.Style15{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:700; 
 margin:0;
 color: #FFFEFE;
 word-wrap: break-word;}
.para16{font-size: 0; text-align:left; padding-bottom:0px; margin-top:0px; padding-top:0px;}
.Style17{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:normal; 
 color: #FFFEFE;
 background-color: #0C4D81; 
 word-wrap: break-word;}
.Style18{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 13px; 
 font-weight:normal; 
 margin:0;
 color: #FFFEFE;
 background-color: #0C4D81; 
 word-wrap: break-word;}
.para19{font-size: 0; text-align:left; padding-bottom:8px; margin-top:0px; padding-top:0px;}
.Style20{font-family:  'Calibri' ,'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:normal; 
 margin:0;
 word-wrap: break-word;}
.Style21{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 14px; 
 font-weight:normal; 
 word-wrap: break-word;}
.para22{font-size: 0; text-align:left; padding-bottom:3px; margin-top:0px; padding-top:0px;}
.Style23{font-family:  'Impact' ,'Arial' ,sans-serif ;
 font-size: 15px; 
 font-weight:700; 
 word-wrap: break-word;}
.para24{font-size: 0; text-align:left; padding-bottom:10px; margin-top:0px; padding-top:0px;}
.Style25{font-family:  'ArialMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:normal; 
 margin:0;
 color: #797979;
 word-wrap: break-word;}
.Style26{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 12px; 
 font-weight:700; 
 color: #FFFEFE;
 word-wrap: break-word;}
.para27{font-size: 0; text-align:left; padding-bottom:7px; margin-top:0px; padding-top:0px;}
.para28{font-size: 0; text-align:center; padding-bottom:15px; margin-top:0px; padding-top:0px;}
.Style29{font-family:  'Arial-BoldMT', 'Arial' ,sans-serif ;
 font-size: 16px; 
 font-weight:700; 
 color: #797979;
 word-wrap: break-word;}
a.outerlink{text-decoration:none}
.animhidden{opacity: 0}
.animvisible{opacity: 1}